<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960149062101-jfabpog6pd33ltvntp5nvqju8j0dqrms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960149062101-jfabpog6pd33ltvntp5nvqju8j0dqrms</string>
	<key>API_KEY</key>
	<string>AIzaSyCzwV6GhQG_4qdBgT7t1r09L9rVdNR8Pu0</string>
	<key>GCM_SENDER_ID</key>
	<string>960149062101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yun.RxSwiftPractice</string>
	<key>PROJECT_ID</key>
	<string>news-c34b3</string>
	<key>STORAGE_BUCKET</key>
	<string>news-c34b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960149062101:ios:d474363657e0143ea97d5c</string>
</dict>
</plist>